/* Estilos para el cuerpo de la página */
body {

    background-attachment: fixed; /* Fija la imagen en su posición */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #925e0f7a;
    color: #4d381b; /* Color de texto */
}
.header {
    background-color: #7e5c49; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
}

/* Estilos para el footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7e5c49; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center;
    padding: 0% 0; /* Espaciado interior del pie de página */
}

.option {
    padding: 15px 30px;
    background-color: #b89f87; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    text-decoration: none;
    border-radius: 25px; /* Borde redondeado */
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #9d8470; /* Color de fondo al pasar el ratón */
}

/* Estilos específicos para el texto del footer */
.company-info p {
    margin: 5px 0;
    font-size: 16px;
}


