body {
    background-color: #925e0f7a;  
  }

.header {
  background-color: #fbcfcf;  
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 150px;  
  height: auto;
}

.main-menu ul {
  list-style: none;
  padding: 0;
}

.main-menu ul li {
  display: inline;
  margin-right: 20px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #925e0f7a;  
  font-size: 18px;
}


  .card {
    border: none;
  }
  
  .card-title {
    color: #111;  
  }
  
  .btn-primary {
    background-color: #fbcfcf;  
    border-color: #fbcfcf;  
    color: #755c3b
  }
  
  .btn-primary:hover {
    background-color: #cdbb99; 
    border-color: #cdbb99;  
  }