body {
    background-color: #925e0f7a; /* Color de fondo del cuerpo */
  }
  
/* Estilos para el encabezado */
.header {
  background-color: #fbcfcf; /* Color de fondo del encabezado */
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 150px; /* Tamaño del logo */
  height: auto;
}

.main-menu ul {
  list-style: none;
  padding: 0;
}

.main-menu ul li {
  display: inline;
  margin-right: 20px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #925e0f7a; /* Color del texto del menú */
  font-size: 18px;
}


  .card {
    border: none;
  }
  
  .card-title {
    color: #111; /* Color del título del formulario */
  }
  
  .btn-primary {
    background-color: #fbcfcf; /* Color de fondo del botón */
    border-color: #fbcfcf; /* Color del borde del botón */
    color: #755c3b
  }
  
  .btn-primary:hover {
    background-color: #cdbb99; /* Cambio de color de fondo del botón al pasar el cursor */
    border-color: #cdbb99; /* Cambio de color del borde del botón al pasar el cursor */
  }