/* Estilos para el cuerpo de la página */
body {
    background-image: url('../img/background.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-attachment: fixed; /* Fija la imagen en su posición */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f3; /* Color de fondo */
    color: #4d381b; /* Color de texto */
}

/* Estilos para el encabezado */
.header {
    background-color: #7e5c49; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px; /* Tamaño del logo */
    height: auto;
}

.main-menu ul {
    list-style: none;
    padding: 0;
}

.main-menu ul li {
    display: inline;
    margin-right: 20px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #fff; /* Color del texto del menú */
    font-size: 18px;
}

/* Estilos para el contenido principal */
.container {
    max-width: 30px;
    margin: 0% auto;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.option {
    padding: 15px 30px;
    background-color: #b89f87; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    text-decoration: none;
    border-radius: 25px; /* Borde redondeado */
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #9d8470; /* Color de fondo al pasar el ratón */
}

/* Estilos para el footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7e5c49; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center;
    padding: 0% 0; /* Espaciado interior del pie de página */
}

/* Estilos específicos para el texto del footer */
.company-info p {
    margin: 5px 0;
    font-size: 16px;
}


